<!DOCTYPE html> <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=defice-width, initial-scale=1.0" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/custom.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">{{ site.name }}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/rpms">Rpms</a></li>
                            <li><a href="/about">About Me</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
                {{ content }}
            <div class="footer">
              <div class="contact">
                  <a href="https://github.com/tavisto" target="_blank" class="github-follow-button">
                      <img src="/img/github.png" alt="GH"/> @tavisto </a>
                  <a href="https://twitter.com/tavisto" target="_blank" class="github-follow-button" >
                      <img src="/img/twitter.png" alt="Twitter"/> @tavisto</a>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>
